postLike.post {
    padding: 20px 0;
    border-bottom: 1px dashed #cdcdcd;
}

.postHeader {
    display: flex;
    align-items: center;
}

.postAvatar {
    margin-right: 20px;
}

.postAvatar img{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
}

.postFooter {
    display: flex;
    justify-content: space-between;
}

.postLike button {
    padding: 5px;
    font-size: 10px;
}